:root {
  --red-color: #bd0f26;
  --black-color: #1c1a1a;
  --white-color: #fcf7f7;
  --secondary-red-color: rgba(250, 57, 63, 0.7);
  --error-color: #e04a5e;
  --primary-box-shadow: 0 10px 31px 0 rgb(7 152 255 / 9%);
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
::-webkit-scrollbar {
  width: 0;
}
