:root {
  --red-color: #f22b07;
  --black-color: #1c1a1a;
  --white-color: #fcf7f7;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  --company-color: #b7094c;
  overflow: hidden;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
